
  <div class="restaurant-card mb-3">
    <div class="restaurant-image">
      <%= cl_image_tag restaurant.images.first.key, width: 200, height: 150, crop: :fit, :class => ""%>
    </div>
    <div class="restaurant-info ">
      <div class="row" >
        <div class="col">
        <h1> <%= restaurant.name %> </h1>
        </div>
        <div class="col pt-2 pr-0">
        <%= link_to 'ðŸ—‘ï¸', restaurant_path(restaurant), method: :delete%>
        </div>
      </div>
      <% result = restaurant.loc.nil? ? nil : restaurant.loc.split(",") %>
      <h2> <%= result[1] %></h2>
      <p><%= restaurant.description %></p>
      <%= link_to "ingresar",restaurant_path(restaurant), class: "btn btn-primary" %>
    </div>
  </div>
