
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328614/Fish%20up/greysen-johnson-cZVzzFadTMc-unsplash_1_cfkwc9.jpg);">
  <div class="container ">
    <h1><strong>Fishup</strong></h1>
    <p>Get a rod, we'll give you a spot</p>
    <%= link_to "Browse spots", "", style:"background-color: #466a8e; color: white; padding: 15px; padding-left: 40px; padding-right: 40px; border-radius: 5px;"%>

  </div>
</div>

<div id="wave"></div>

<div class="container vh-60" style="margin-bottom: 64px;">
  <div class="row">
    <div class="col-5">
      <h3 class= "subtitle-homepage2">Best Community</h3>
      <hr>
      <p class="mt-4">Fishup, is a social network composed of friends, families, and people who are interested on fishing. This online social networking site merely makes our social networks visible to other people who likes going on fishing and makeing adventures around the world.</p>
      <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634830461/Fish%20up/Frame_4_yqbofl.png", style:"width: 400px; position: relative; left: 0; top: -11px; opacity: 0.8;"%>



    </div>
    <div class="col-2"></div>
      <div class="col-5 cards ">
      <div class="card mb-3" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328773/Fish%20up/maria-orlova-kdh4OxHLM_Q-unsplash_nl84ix.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Best Experience</h5>
          <p class="card-text">Find unforgettable experience near you. </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634071047/Fish%20up/austin-neill-3quTd6dyudg-unsplash_vqtccz.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Unique spots</h5>
          <p class="card-text">Find new spots near you. </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328904/Fish%20up/mana-nabavian-gdR9YwVbvtk-unsplash_d2koim.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Post</h5>
          <p class="card-text">Post your photos of your fishing day. </p>
        </div>
      </div>
      <div class="card" >
        <%= image_tag "https://res.cloudinary.com/ddlmgs04n/image/upload/v1634328952/Fish%20up/leonard-cotte-DUZ9XT10Y_A-unsplash_zbljcm.jpg", class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title">Community</h5>
          <p class="card-text">Digital Community on Fishing </p>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
